.recipe-card__display {
    display: none;
}

.card__margin-top {
    margin-top: 50px;
}

.card__button-marginRight {
    margin-right: 10px;
}

.recipe-container {
    max-width: 700px;
}

.alert-hide {
    display: none;
}